<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="comp380.csun.you_til">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DiceRollActivity8Fix"></activity>
        <activity android:name=".DiceRollActivity4Fix" />
        <activity android:name=".DiceRollActivity6fix" />
        <activity
            android:name=".DiceRollActivity12"
            android:label="@string/title_activity_dice_roll12"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DiceRollActivity10"
            android:label="@string/title_activity_dice_roll10"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DiceRollActivity8"
            android:label="@string/title_activity_dice_roll8"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DiceRollActivity6"
            android:label="@string/title_activity_dice_roll6"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".DiceRollActivity4" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".QuickAcessActivity"
            android:label="@string/title_activity_quick_acess"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".CalculatorActivity" />
        <activity android:name=".ConversionActivity" />
        <activity android:name=".UnitSelectActivity" />
        <activity android:name=".TipCalculatorActivity" />
        <activity android:name=".CoinFLipActivity" />
        <activity android:name=".DiceRollActivity" />
        <activity android:name=".DiceRollSelectActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>